* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: montserrat;
}

.barraNavegacion {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-left: 550px;
}

.ImagenPrincipal {
  margin: auto;
}

.fondoIndex {
  width: auto;
  height: 750px;
}

.imgRyzen {
  height: 710px;
}

.imagen2Index {
  height: 710px;
}

.imagen3Index {
  height: 710px;
}

.Productosmain {
  margin-top: 30px;
}

.novedadees {
  margin-bottom: 30px;
}

.productosIndex {
  text-align: center;
  margin-bottom: 50px;
}

.tecladoHyperP {
  width: 350px;
  height: 250px;
}

.CartasP p {
  font-size: 15px;
}
.CartasP h5 {
  font-size: 15px;
}

.cartasP2 {
  font-size: 15px;
}

.tecladokumaraP {
  height: 250px;
  width: 500px;
}

.tecladokumarawhiP {
  width: 350px;
  height: 250px;
}

.segundoMainP {
  margin-top: 30px;
  margin-bottom: 50px;
}

.mouseP {
  height: 250px;
  width: 300px;
}

.claseP {
  height: 250px;
  width: 300px;
}

.logiP2 {
  height: 250px;
  width: 300px;
}

.ram16P {
  height: 250px;
  width: 300px;
}

.footerP2 {
  display: flex;
}

.footerP1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

.h1 {
  text-align: center;
  font-size: 25px;
  margin: 25px;
  padding-top: 20px;
}

.novedadees section p {
  display: inline-block;
  font-size: 15px;
  padding-top: 25px;
}

#footer {
  position: relative;
  background-color: #8BA6E9;
  grid-area: footer;
}

.sinsub {
  text-decoration: none;
  font-weight: 500;
}

.FondoA {
  background-color: #7E96C4;
}

li {
  color: black;
  display: inline-block;
  padding: 25px;
}

.separado {
  margin-left: 500px;
}

a {
  color: black;
}

h2 {
  font-size: 20px;
  text-decoration: underline;
  margin-top: 35px;
  padding-left: 95px;
  padding-bottom: 50px;
}

.memoram {
  padding-left: 150px;
  width: 230px;
  height: 165px;
}

#icono {
  width: 90px;
  height: 90px;
  margin-left: 200px;
  padding-top: 0;
}

.ventass {
  display: inline;
  font-size: 25px;
  margin-bottom: 20px;
}

#Seguinosen {
  display: block;
  height: 20px;
  margin-top: 75px;
  font-size: 17px;
}

.cqrduda {
  font-size: 17px;
  display: block;
  height: 20px;
  padding-top: 140px;
}

.ayudafooter {
  display: block;
  font-size: 17px;
  height: 10px;
  margin-top: 140px;
  padding-left: 10px;
}

.logoface {
  display: block;
  width: 40px;
  height: 40px;
  margin-top: 66px;
  margin-left: 20px;
}

.logotwi {
  width: 45px;
  height: 45px;
  display: block;
  margin-top: 65px;
  margin-left: 15px;
}

.logoinsta {
  width: 30px;
  height: 30px;
  display: block;
  margin-top: 73px;
  margin-left: 15px;
}

.logow {
  position: fixed;
  bottom: 50px;
  right: 0;
}
.logow img {
  width: 70px;
  height: 70px;
  background-color: green;
  border-radius: 130%;
}

.kumarawhite {
  width: 200px;
  height: 150px;
}

.hotsale section p {
  display: inline-block;
  font-size: 15px;
  padding-top: 30px;
}

.quienessomos {
  font-size: 22px;
  grid-area: quienessomos;
  background-image: url(../images/fondo\ quienes.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.quienessomos img {
  width: 450px;
  height: 400px;
  padding-left: 550px;
  padding-top: 70px;
}

.footerr {
  display: flex;
}

.imagenNosotros {
  width: 500px;
  height: 500px;
  margin-left: 200px;
  margin-top: 95px;
}
.imagenNosotros img {
  width: 600px;
  height: 600px;
  padding-left: 100px;
  margin: 40px;
}

.sectionNosotros {
  background-color: #e8e8e7;
}
.sectionNosotros h1 {
  font-size: 20px;
  text-align: center;
  padding-top: 30px;
}

.contactanosNosotros {
  font-size: 18px;
  padding-left: 30px;
  padding-top: 80px;
}

.mainNosotros h2 {
  padding-left: 130px;
  padding-top: 20px;
}

.textoNosotros {
  font-size: 18px;
  padding-left: 130px;
}

.ofertasMain {
  margin-top: 40px;
}
.ofertasMain p {
  display: inline-block;
  padding-left: 170px;
  font-size: 15px;
}

.tituloHotsale {
  font-size: 17px;
  text-decoration: line-through;
  text-align: center;
  margin-bottom: 50px;
}

.imagenesHotsale {
  text-align: center;
  margin-bottom: 30px;
}

.encabezadoPro {
  text-align: center;
}

.otrasPreguntasA {
  margin-top: 75px;
  margin-bottom: 60px;
}

.ImagenIndex {
  width: 300px;
  height: 300px;
}

@media screen and (max-width: 1400px) {
  .barraNavegacion {
    margin-left: 0px;
    padding-left: 0;
  }
  .tecladoHyperP {
    height: 230px;
    width: 260px;
    margin-left: 40px;
  }
  .tecladokumarawhiP {
    height: 200px;
    width: 260px;
    margin-left: 50px;
    margin-top: 20px;
  }
  .tecladokumaraP {
    height: 200px;
    width: 340px;
    margin-top: 20px;
  }
  .mouseP {
    height: 180px;
    width: 210px;
    margin-left: 20px;
  }
  .claseP {
    height: 180px;
    width: 210px;
  }
  .logiP2 {
    height: 180px;
    width: 210px;
  }
  .ram16P {
    height: 180px;
    width: 210px;
  }
  .logow img {
    width: 45px;
    height: 45px;
    margin-right: 30px;
  }
  .imagenNosotros {
    width: 400px;
    height: 400px;
  }
}
@media screen and (max-width: 1250px) {
  .imagenNosotros {
    width: 300px;
    height: 300px;
  }
}
@media screen and (max-width: 992px) {
  .barraNavegacion {
    padding-left: 0;
    margin-left: 0;
  }
  #logitechIndex {
    display: none;
  }
  .memoria16P {
    display: none;
  }
  .tecladoHyperP2 {
    display: none;
  }
  .logoface {
    margin-left: 5px;
  }
  .ventass {
    margin-left: 150px;
  }
  .imagenNosotros {
    margin-bottom: 30px;
    margin-left: 280px;
  }
}
@media screen and (max-width: 768px) {
  .inicioIndex {
    font-size: 20px;
  }
  #icono {
    margin-left: 30px;
    margin-top: 20px;
    padding: 0;
  }
  .barraNavegacion {
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .fondoIndex {
    width: auto;
    height: 450px;
    margin: 0px;
    padding: 0px;
  }
  .ImagenPrincipal {
    margin-left: 0px;
  }
  .imagen2Index {
    height: 450px;
    width: 100px;
  }
  .imagen3Index {
    height: 450px;
    width: 100px;
  }
  .imgRyzen {
    height: 450px;
  }
  .footerP1 {
    margin-bottom: 50px;
  }
  .ventass {
    margin-left: 0;
  }
  .textoNosotros {
    padding-left: 30px;
  }
  .mainNosotros h2 {
    padding-left: 40px;
  }
  .imagenNosotros {
    margin-left: 200px;
  }
}
@media screen and (max-width: 767px) {
  #logitechIndex {
    display: inline-block;
  }
  .logiP {
    display: none;
  }
  .kumarawhiP {
    width: 280px;
    height: 250px;
  }
  .tecladokumarawhiP {
    width: 150px;
    height: 130px;
  }
  .kumaranormalP {
    width: 280px;
    height: 250px;
  }
  .tecladokumaraP {
    width: 220px;
    height: 130px;
  }
  .m908P {
    width: 280px;
    height: 250px;
  }
  .ram8P {
    width: 280px;
    height: 250px;
  }
}
@media screen and (max-width: 576px) {
  .ventasCabeza {
    padding: 0;
    margin-top: 30px;
    text-align: center;
  }
  .inicioIndex {
    font-size: 15px;
  }
  .h1 {
    font-size: 19px;
  }
  .inicioIndex {
    font-size: 17px;
  }
  #icono {
    padding: 0;
    margin: 0;
    margin-left: 70px;
    margin-right: 55px;
  }
  .ventass {
    padding-left: 0px;
  }
  .fondoIndex {
    width: auto;
    height: 250px;
    margin: 0px;
  }
  .ImagenPrincipal {
    margin-left: 0px;
  }
  .imagen2Index {
    height: 250px;
    width: auto;
  }
  .imagen3Index {
    height: 250px;
    width: auto;
  }
  .imgRyzen {
    height: 250px;
  }
  .barraNavegacion {
    margin-left: 0px;
    margin-bottom: 40px;
  }
  .pDestacados {
    display: none;
  }
  #TKLIndex {
    display: none;
  }
  #logitechIndex {
    display: none;
  }
  .novedadees {
    margin-top: 50px;
  }
  #rtx2060Index {
    width: auto;
    height: 330px;
    margin-left: 35px;
    font-size: 15px;
    display: inline;
  }
  #rx550Index {
    width: auto;
    height: 330px;
    margin-left: 35px;
    display: inline;
  }
  .cartasP2 {
    font-size: 18px;
  }
  .card-title {
    font-size: 18px;
  }
  .cqrduda {
    padding: 0;
    margin-top: 60px;
  }
  .footerP2 {
    margin-bottom: 30px;
    margin-top: 0;
    padding-top: 0;
  }
  .ayudafooter {
    padding: 0;
    margin-top: 60px;
  }
  .imgWhatsapp {
    height: 10px;
    width: 10px;
  }
  .m908P {
    margin-left: 80px;
  }
  .m908P div h5 {
    font-size: 15px;
  }
  .ram8P {
    margin-left: 80px;
    margin-top: 65px;
  }
  .ram8P div h5 {
    font-size: 15px;
  }
  .kumarawhiP {
    margin-left: 80px;
    margin-bottom: 30px;
  }
  .kumaranormalP {
    margin-left: 80px;
  }
  .claseP {
    width: 170px;
    height: 150px;
  }
  .imagenNosotros {
    margin-left: 50px;
  }
}
@media screen and (max-width: 380px) {
  .mouseP {
    width: 260px;
    height: 260px;
  }
  .ram8P {
    margin-left: 40px;
  }
  .m908P {
    margin-left: 40px;
  }
  .kumaranormalP {
    margin-left: 40px;
  }
  .kumarawhiP {
    margin-left: 40px;
  }
  .imagenNosotros {
    height: 250px;
    width: 250px;
  }
  .mainNosotros h2 {
    padding-left: 0;
  }
  .textoNosotros {
    padding-left: 0;
  }
  .contactanosNosotros {
    padding-left: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
